#kc-info {
    display: none;
}
#kc-form {
    display: none;
}
#kc-social-providers hr {
    display: none;
}
#kc-social-providers h2 {
    display: none;
}

div.kcFormGroupClass:has([name="username"]), div.kcFormGroupClass:has([name="email"]) {
  display: none;
}

/*
input.kcInputClass[name="username"], input.kcInputClass[name="email"] {
  display: none;
}
label.kcLabelClass[for="username"], label.kcLabelClass[for="email"] {
  display: none;
}
*/

