name: ci
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
            - uses: bahmutov/npm-install@v1
            - run: yarn build
            - run: npx keycloakify

    check_if_version_upgraded:
        name: Check if version upgrade
        if: github.event_name == 'push'
        runs-on: ubuntu-latest
        needs: test
        outputs:
            from_version: ${{ steps.step1.outputs.from_version }}
            to_version: ${{ steps.step1.outputs.to_version }}
            is_upgraded_version: ${{ steps.step1.outputs.is_upgraded_version }}
        steps:
            - uses: garronej/ts-ci@v2.1.2
              id: step1
              with:
                  action_name: is_package_json_version_upgraded
                  branch: ${{ github.head_ref || github.ref }}

    create_github_release:
        runs-on: ubuntu-latest
        needs: check_if_version_upgraded
        # We create a release only if the version have been upgraded and we are on a default branch
        if: needs.check_if_version_upgraded.outputs.is_upgraded_version == 'true' && github.event_name == 'push'
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
            - uses: bahmutov/npm-install@v1
            - run: yarn build
            - run: npx keycloakify
            - run: mv dist_keycloak/target/retrocompat-*.jar retrocompat-keycloak-theme.jar
            - run: mv dist_keycloak/target/*.jar keycloak-theme.jar
            - uses: softprops/action-gh-release@v1
              with:
                  name: Release v${{ needs.check_if_version_upgraded.outputs.to_version }}
                  tag_name: v${{ needs.check_if_version_upgraded.outputs.to_version }}
                  target_commitish: ${{ github.head_ref || github.ref }}
                  generate_release_notes: true
                  draft: false
                  files: |
                      retrocompat-keycloak-theme.jar
                      keycloak-theme.jar
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
